@charset "utf-8";
/* CSS stylesheet */
body {background-color: khaki;
}
h1 {font-family: Calibri; 
    font-size: 30px; 
    color: blue;
}
h2 {font-family: 'Times New Roman', Times, serif; 
    font-size: 32px; 
    color: rgb(255, 187, 0);
}
h2::first-letter {font-family: 'Times New Roman', Times, serif; 
    font-size: 45px; 
    color: rgb(255, 187, 0);
}
p {font-family: Arial; 
    font-size: 18px; 
    color: rgb(49, 113, 0);
}