@charset "utf-8";
/* CSS stylesheet */
body {
    background-color: khaki;
}
h1 {
    font-family: Calibri; 
    font-size: 30px; 
    color: blue;
}
h2 {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 1.6rem; 
    color: rgb(255, 187, 0);
}
h2::first-letter {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 2rem; 
    color: rgb(255, 187, 0);
}
p {
    font-family: Arial; 
    font-size: 1.2rem; 
    color: rgb(49, 113, 0);
}
/* image border */
a > img {
    border: 2px solid black;
}
/* unvisited link */
 a:link {
    color: rgb(0, 8, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(100, 0, 128);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 105, 105);
  }
  
  /* selected link */
  a:active {
    color: rgb(225, 255, 0);
  } 